@use "./variables.scss" as *;
@use "sass:color";

window.OSD {
  padding: 3rem;

  box.OSD {
    border-radius: 100px;
    background-color: $surface_container_highest;
    padding: 13px 16px;
    min-width: 15rem;
    border: 1px solid $outline_variant;
  }

  image {
    all: unset;
    padding: 7px;
    color: $on_primary;
  }

  levelbar {
    min-width: 15rem;
    block.filled {
      min-height: 2rem;
      background-color: $primary;
    }

    block.empty {
      min-height: 2rem;
      background-color: $secondary_container;
    }
  }
}
